// accordion
.accordion { 
	@include accordion();
	&-label { font-weight: 400; &::after { font-weight: 300; } }
	.custom-accordion & { @include accordion($accordion-custom); }
}

// angle + quote
.angle {
	&--berry {
		@include angle(both);
		color: #fff;
		background: #b52b4a;	
	}
	&--blue {
		@include angle(after, true);
		color: #fff;
		background: #41ade5;
	}
	&--green {
		@include angle(both, true);
		color: #fff;
		background: #5e9b42;
	}	
	&--orange {
		@include angle(before);
		color: #fff;
		background: #de6628;
	}
}
.quote {
	@include quote();
}

// app
.app { 
	@include app();
	&-panel-header {
		padding-bottom: .5em;
	}
}

// blinds
.blinds { 
	@include blinds();
}

// breadcrumbs
.breadcrumb { 
	@include breadcrumb();
}

// calculator
.calculator { 
	@include calculator();
}

// calendar
.calendar { 
	@include calendar();
}

// cart
.cart { 
	@include cart();
}

// cflow
.cflow {
	@include cflow();
}

// circular
.circular { 
	@include circular();
	&__icon { 
		background: orange;
		border-radius: 50%;
		padding: 5%;
	}
}

// contact
.contact { 
	@include contact();
}

// curtain
.curtain { 
	@include curtain();
}

// details
.details { 
	@include details();
}

// editor
.editor { 
	@include editor();
}

// event
.event { 
	@include event();
}

// facets: facet list
.facet-list { 
	@include facets($facet-list);
}
.facet { 
	@include facets();
}

// filter
.filter { 
	@include filter(5);
	@include button-group($form_material, false);
	&-content {	margin-top: 1rem; }
}

// flexory
.flexory { 
	@include flexory();
}

// flexspot
.flexspot { 
	@include flexspot();
}
.flexspot-bg1 {
	background: #e7e8e1;
}
.black-header { color: #222; }
.white-header { color: #fefefe; text-shadow: 1px 1px 1px rgba(0, 0, 0, .9); }

// flip
.flip { 
	@include flip();
}

// flexory
.foldout { 
	@include foldout();
}

// form
.form {
	@include form($num-steps: 4);
	.material & {
		@include form($form_material, 4); 
	}
}

// grid
.grid {
	@include grid(1rem, 22rem);
	background: #aaa;
	.block { 
		padding: 1rem;
		background-color: #eee; 
	}
}

// hero
.hero { 
	@include hero();
}

// imagemap
.imagemap { 
	@include imagemap();
}

// infotab
.infotab { 
	@include infotab();
}

// list
.list { 
	@include list();
}

// map
.map { 
	@include map();
}

// menu
.menu {
	@include menu();
	&__toggle--mobile__icon {
		background: deepskyblue;
		border-radius: 50%;
		padding: 0.25em;
		width: 2em;
		height: 2em;
		color: #fff;
		text-align: center;
	}
}

// mood
.mood {
	@include mood();
}

// navlink
.navlink {
	@include navlink();
	&__content {
		font-size: 1.5em;
		line-height: 1.6;
		padding: 0 1em;
	}
}

// pagination
.pagination {
	@include pagination();
}

// popup
.popup {
	@include popup();
}

// pricing
.pricing {
	@include pricing();
}

// product
.product {
	@include product();
}

//radial
.radial-progress {
	@include radial(200px, 1rem, #dedede, lighten(#ad87c4, 10), #ad87c4, #826296, #501a71 );
}

// range
.range {
	@include range();
}

// rating
.rating {
	@include rating();
}

// recipe
.recipe { 
	@include recipe();
}

// reveal
.reveal {
	@include reveal();
}

// scrollblock
.scrollblock { 
	@include scrollblock();
}

// search
.search {
	@include search();
	margin: 1em 0 0 0;
	&-toggle {
		display: block;
		text-align: right;
	}
}

// select
.select { 
	@include select(); 
	&-label { font-weight: 400; &::after { font-weight: 300; } }
}

// sidepanel
.sidepanel {
	@include sidepanel();
}

// sitemap
.sitemap {
	@include sitemap();
}

// slider
.slider {
	@include slider();
}

// social-links
.social-links {
	@include social-links();
}

// spinners
.spinner-rotate {
	@include spinner-rotate(60px, 8px, #aaa, 0.75s);
}
.spinner-dots {
	@include spinner-dots($spinner-dots);	
}

// spot
.spot {
	@include spot();
}

//switch
.switch {
	@include switch();
}

// table
.table {
	@include table();
}

// tabs
.tabs {
	@include tabs(); 
	&-panel-header { 
		padding-bottom: 1em;
	}
}
.custom-tabs .tabs { @include tabs($tabs-custom); }

// tabs-circle
.tabs-circle {
	@include tabs-circle();
	&__panel__header {
		padding: 1em;
		font-size: 2em;
		color: #444;
	}
	&__panel__text {
		padding: 0 2em 2em 2em;
	}
}

// tabs-square
.tabs-square {
	@include tabs-square();
}

// video
.video {
	@include video();
}

// xray
.xray { 
	@include xray();
}
// Tactical Elements

.ribbon {
	&-corner {
		&-blue {
			@include tactical(#2980b9, "Oswald", #fff, 0 0 0 #fff);
			.triangle { fill: darken(#2980b9, 25); }
			&-shadow {
				@extend .ribbon-corner-blue;
				filter: drop-shadow(.1em .1em 1px darken(#2980b9, 30));
			}
		}
	}
	&-down {
		&-red {
			@include tactical(#d91f26, "Oswald", #fff, 0 .45em 0 darken(#d91f26, 25));
			text { 
				text-shadow: .1em .1em .5em rgba(0, 0, 0, .5);
				fill: lighten(#da9f4d, 10);
			}
		}
	}
}

.circle {
	&-basic {
		@include tactical(transparent, "Montserrat", #fff, 0 0 0 #fff);
		.svg-text-large { letter-spacing: -2px; }
	}
	&-orange {
		@include tactical(orange, "Oswald", #000, .5em .5em 3px rgba(0, 0, 0,.5));
		.svg-text-small { font-weight: 400; }
	}
	&-purple {
		@include tactical(purple, "Oswald", #fff, 0 0 0 #fff);
	}
}

.poly {
	&-blue {
		@include tactical(#6DB5D5, "Montserrat", #fff, 0 0 0 #fff);
		.svg-text-large { letter-spacing: -2px; }
	}
	&-blue-shadow {
		@include tactical(#6DB5D5, "Montserrat", #fff, 2px 2px 1px darken(#6DB5D5, 40));
		.svg-text-large { letter-spacing: -2px; }
		.svg-text-small, .svg-text-large { text-shadow: 2px 2px 5px #000; }
	}
	&-red {
		@include tactical(#BC2330, "Oswald", #fff, 0 0 0 #fff);
		.svg-text-large { letter-spacing: -1px; }
		.svg-text-micro	{ font-size: .5em; letter-spacing: initial; }
		&-shadow {
			@extend .poly-red;
			filter: drop-shadow(.75em .5em 0 darken(#BC2330, 30));
		}
	}
}

.rect {
	&-navy {
		@include tactical(#00305F, "Montserrat", #fff, 0 0 0 #fff);
	}
	&-red {
		@include tactical(#CB2647, "Montserrat", #fff, 0 0 0 #fff);
	}
}

.speech {
	&-left {
		&-orange {
			@include tactical(orange, "Oswald", #000, .5em .5em 0 #000);
			.svg-text-small { font-weight: 400; }
		}
	}
	&-right {
		&-orange {
			@include tactical(orange, "Oswald", #000, -.5em .5em 0 #000);
			.svg-text-small { font-weight: 400; }
		}
	}
}

/* Test-Wrapper - For demo only */
.tactical {
	&-wrapper {
		display: inline-block;
		margin: 2em 2em 0 0;
		width: 20%;
		height: 20%;
		
		@include max("phone") {
			width: 30%;
			height: 30%;
		}
	}
}

@for $i from 1 through 25 {
	$bg-color: randomColor();
	$color: colorText($bg-color);
	.random-#{$i} { 
		color: $color;
		background-color: $bg-color;
	}	
}