/*
- Document  : _print-modules.scss
- Version   : 1.0.0
- Date edit : 2016-04-05
*/

.accordion {
	&-label { font-weight: bold; }
	&-panel { margin: 1em 0 2em 0; }
}

.spot {
	* { color: #000; }
	&-content-close { display: none; }
	&-img { display: none; /* todo */}
}