/// Breadcrumb-module
/// - Version 1.2.5
/// - Date last edited: 2016-04-05
/// @name breadcrumb
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$breadcrumb]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/blocks/breadcrumb.html Demo
/// @example scss
///   .breadcrumb( @include breadcrumb(); )

@mixin breadcrumb($theme: $breadcrumb) {
	@include font-sizes(map-get($theme, "font-map"));
	
	background: map-get($theme, "background");
	border-width: map-get($theme, "border-width");
	border-style: map-get($theme, "border-style");
	border-color: map-get($theme, "border-color");
	max-width: 100%;
	
	&-inner {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		padding: 0.75em 0;
		& > a,
		& > [itemProp="itemListElement"]:first-of-type a { 
			padding-left: 1em;
			&::before {
				display: none;
			}
		}
	}
	a {
		font-weight: map-get($theme, "divider");
		text-decoration: none;
		&::before {
			content: map-get($theme, "divider");
			padding: 0 0.5em;
		}
		@include hover {
			color: map-get($theme, "hover-color");
		}
	}
}

/// Theme-map for breadcrumb
/// @name breadcrumb
/// @group settings

$breadcrumb: (
	"background" : linear-gradient(to bottom, #f0f0f0, #fff),
	"border-color": #ccc,
	"border-style": solid,
	"border-width":  1px 0,
	"color": #222,
	"divider" : "|",
	"font-map": ("phone" : 12px, "tablet" : 15px),
	"font-weight": 400,
	"hover-color": deepskyblue,
);