/*
- Document  : facets.scss
- Version   : 1.0.0
- Client    : Blocks!
- Authors   : Mads Stoumann
- Date edit : 2015-10-12
*/

$color-bg: #f0eee7;
$color-darkgrey: #444;
$color-green: #00af9f;
$color-reset: #363636;
$color-select: #e1e1e1;

$nav-facet-num: 10;
$nav-facet-sub-num: 20;
$nav-facet-width: 10rem;
$nav-facet-zindex: 100; /* z-index begin offset */

/* TMP */ 
	body { background-color: $color-bg; }
	.product-wrapper { margin: 2.5% 0; padding: 2.5%; }
	.product-item { display: block; background-color: #FFF; border:1px dotted #ccc; width: 100%; height: 50vh; padding: 2.5%; margin: 1% 0; }
/* TMP */

%button {
	display: inline-block;
	font: 300 18px "Roboto", sans-serif;
	font-size: 1rem;
	padding: .5rem;
	border-radius: 1.5rem;
	text-align: center;
	margin: 0 2%;
	width: 45%;
}

#facet-overlay:checked + label { 
	display: none; 
}

.nav-facet {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color-bg;
	z-index: $nav-facet-zindex;
	padding: 2.5%;
	overflow-y: auto;
	
	@include for("tablet") {
		display: block;
		position: static;
		background: none;
		overflow-y: visible;
	}

	@for $i from 1 through $nav-facet-num {
		& > .state[data-facet="#{$i}"]:checked ~ .nav-facet-form fieldset[data-facet="#{$i}"] > label {
			background-color: #fff;
			z-index: $nav-facet-zindex + 4;
			
			&::after {
				transform-origin: 25% 40%;
				transform: rotate(90deg);
			}
			& + .nav-facet-select {
				display: block;
				background-color: #fff;
				z-index: $nav-facet-zindex + 3;
			}
			& ~ .nav-facet-uncheck {
				display: none;
			}
		}
	}
	
	/* Mobile Panel */
	&-control {
		position: fixed;
		width: 100%;
		padding: .5rem;
		left: 0;
		bottom: 0;
		background-color: $color-darkgrey;
		color: #fff;
		
		@media only screen and (orientation: landscape) {
			position: static;
			background: none;
		}
		
		.nav-facet-reset {
			@extend %button;
			border: 1px solid #fff;
			
			@media only screen and (orientation: landscape) {
				background-color: $color-darkgrey;
			}
			
			@include for("tablet") { 
				width: auto;
				padding: 0;
				margin: 1% 0;
				background: none;
				border: 0;
			}
		}
		.nav-facet-toggle {
			@extend %button;
			background-color: $color-green;
			color: #fff;
			
			@include for("tablet") { 
				display: none; 
			}
		}
		
		@include for("tablet") {
			clear: both;
			position: static;
			background: none;
			color: currentColor;
			padding: 0;
		}
	}
	
	/* Drop-Down Wrapper */
	&-fieldset {
		float: left;
		display: inline-block;
		position: relative;
		border: 0;
		margin: .25rem 0;
		width: 100%;
		
		@include for("tablet") {
			margin: .5rem 1.5% .5rem 0;
			width: $nav-facet-width;
		}

		@for $i from 1 through $nav-facet-sub-num {
			& > .state:nth-of-type(#{$i}):checked ~ .nav-facet-select label:nth-of-type(#{$i}) {
				background-color: $color-select;
			}
			& > .state:nth-of-type(#{$i}):checked ~ .nav-facet-uncheck label:nth-of-type(#{$i}) {
				display: block;
			}
		}	
	}
	
	&-form {
		display: flex;
		flex-flow: row wrap;
		flex: 1;
	}
	
	&-label {
		position: relative;
		display: inline-block;
		width: 95vw;
		font-size: 1rem;
		padding: .5rem 1rem;
		border: 1px solid #ccc;
		border-radius: 1.5rem;
		height: 2.25rem;
		
		&.facet-closable {
			z-index: $nav-facet-zindex + 2;
		}
		
		&::after {
			position: absolute;
			display: inline-block;
			right: 1rem;
			pointer-events: none;
			content: url("../svg/arrow.svg");
			
			/* IE Fix */
			max-height: 1.25rem;
			max-width: .75rem;
		}
		
		&-mobile {
			display: inline-block;
			font-size: small;
			color: #c1c1c1;
			max-width: 70%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			
			@include for("tablet") {
				display: none;
			}
		}
		
		@include for("tablet") {
			width: 100%;
			height: 3rem;
			padding: .9rem 1rem;
		}
	}
	
	&-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(255, 255, 255, .5);
		z-index: $nav-facet-zindex + 1;
	}
	
	&-reset {
		background: none;
		border: 0;
		outline: 0;
		color: currentColor;
	}
	
	&-select {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 80vh;
		overflow-y: auto;
		padding: .5rem 1rem;
		border: 1px solid #ccc;
		border-radius: 1.5rem;
		box-shadow: 0 0px 40px -15px rgba(0, 0, 0, .75);
		padding: 2.75rem 0 .5rem 0;
		text-align: center;
		
		&-all {
			@extend %button;
			@extend .nav-facet-select-label;
			background-color: $color-reset;
			color: #fff;
			outline: 0;
			&.no-select {
				background-color: #fff;
			}
		}
		
		&-label {
			display: inline-block;
			width: 85%;
			font-size: .875rem;
			padding: .5rem 1rem;
			margin: 0 0 .5rem 0;
			border: 1px solid #ccc;
			border-radius: 1.5rem;
		}
		
		@include for("tablet") {
			padding: 3.5rem 0 1rem 0;
			max-height: none;
		}
	}
	
	&-toggle {
		@include for("tablet") { 
			display: none; 
		}	
	}
	
	&-uncheck {
		display: none;
		clear: both;
		width: 100%;
		
		&-label {
			position:relative;
			font-size: small;
			display: none;
			margin: .5rem 0;
			padding: 0 1rem;
			max-width: 90%;
			max-height: .9rem;
			overflow: hidden;
		
			&::after {
				position: absolute;
				text-align: right;
				right: 0;
				top: 0;
				font-size: medium;
				height: 100%;
				width: 25%;
				background: linear-gradient(to right, rgba(255, 255, 255, 0), $color-bg 50%);
				content: "\00D7";
			}
		}
		
		@include for("tablet") {
			display: block;
		}
	}
}