/*
- Document  : radial.scss
- Version   : 1.0.0
- Client    : Blocks!
- Authors   : Mads Stoumann
- Date edit : 2015-11-23
*/
@mixin radial-progress($size, $strokewidth, $color-bg, $strokes...) {
    transform: rotate(270deg);
    width: $size;
    height: $size;
    stroke: $color-bg;
    stroke-width: $strokewidth;
	
	& > circle { 
		fill: transparent;
	}
	
	@each $stroke in $strokes {
    $i: index($strokes, $stroke);
	    &-#{$i} { 
			stroke: $stroke;
	    }
	}

	&-inner {
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
	}
	&-wrapper {
		display: inline-block;
		position: relative;
	}
}

.radial-progress {
	@include radial-progress(200px, 1rem, #dedede, lighten(#ad87c4, 10), #ad87c4, #826296, #501a71 );
}