/// Cart
/// - Version 1.1.0
/// - Date last edited: 2016-06-08
/// @name cart
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$cart]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/blocks/cart/ Demo
/// @example scss
///   .cart( @include cart(); )

@mixin cart($theme: $cart) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));

	width: 100%;
	border-collapse: collapse;
	
	&-checkout {
		margin: 0.5em 0;
		width: 100%;
	}
	
	&-header {
		text-align: left;
		font-size: 2em;
	}
	
	&-item {
		&-head {
			th {
				font-weight: 300;
				text-align: right;
				padding: 0.5em;
				border-bottom: 1px solid #ccc;
				border-top: 1px solid #ccc;
				background: linear-gradient(to bottom, #eee, #fff);
			}
		}
		&-image {
			min-width: 50px;
			max-width: 50px;
			img {
				max-width: 100%;
			}
			
		}	
		&-line {}
		&-name {
			font-size: 1.25em;
			
			
		}
		&-price { 
			font-size: 1.25em;
			text-align: right;
			color: maroon; 
		}
		&-remove {
			display: block;
			font-size: 0.6875em;
			color: maroon;
		}
		&-qnt {
			text-align: right;
			[type="number"] {
				border: 1px solid #ccc;
				border-radius: .25em;
				padding: .5em 0 .5em 1em;
			}
		}
	}
	td {
		vertical-align: top;
		padding: 0.75em 0.25em;
		line-height: 1.3;
		
	}	
	
	tbody td {
		border-bottom: 1px solid #ccc;
	}
	tfoot td:last-of-type {	
		text-align: right;
	}
	
	tfoot td { border-bottom: 1px dashed #ccc; }
	tfoot tr:last-of-type td { border-bottom: 4px double #ccc; }
	
	&-total {
		font-weight: bold;
		border-bottom-style: double;
		&-price { 
			font-weight: bold;
		
		}
	}
	


}


/// Theme-map for cart-block
/// @name cart
/// @group settings

$cart: (
	"font-map": 0
);