/// calendar
/// - Version 1.0.0
/// - Date last edited: 2016-06-08
/// @name calendar
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$calendar-theme]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/calendar/ Demo
/// @example scss
///   .calendar ( @include calendar(); )

@mixin calendar($theme: $calendar-theme) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));
	border-collapse: collapse;
	text-align: center;
	
	tbody {
		td {
			width: map-get($theme, "cell-width");
			a { 
				display: inline-block;
				width: 80%;
				height: 80%;
				border-radius: map-get($theme, "date-border-radius");
				text-decoration: none;
				color: map-get($theme, "date-color");
				background: map-get($theme, "date-background");
				&::before {
		    		display: inline-block;
		    		content: "";
		    		height: 100%;
		    		vertical-align: middle;
				}
				&:focus { 
					color: map-get($theme, "date-focus-color");
					background: map-get($theme, "date-focus-background");
					outline: none;
				}
				@include hover {
					color: map-get($theme, "date-hover-color");
					background: map-get($theme, "date-hover-background");
				}
			}
		}
		th {
			padding: map-get($theme, "cell-padding");
			color: map-get($theme, "week-color");
			background: map-get($theme, "week-background");
		}
		td, th {
			border-color: map-get($theme, "cell-border-color");
			border-style: map-get($theme, "cell-border-style");
			border-width: map-get($theme, "cell-border-width");
		}
	}
	thead {
		th {
			padding: map-get($theme, "cell-padding");
			border-color: map-get($theme, "head-border-color");
			border-style: map-get($theme, "head-border-style");
			border-width: map-get($theme, "head-border-width");
			color: map-get($theme, "head-color");
			background: map-get($theme, "head-background");	
		}
	}
}

/// Theme-map for calendar
/// @name calendar-theme
/// @group settings

$calendar-theme: (
	"cell-border-color": #ccc,
	"cell-border-style": dashed,
	"cell-border-width": 0 0 1px 0,
	"cell-padding": .5em,
	"cell-width": 2.5em,
	"date-background": transparent,
	"date-border-radius": 50%,
	"date-color": #222,
	"date-focus-background": #ff3b30,
	"date-focus-color": #fff,
	"date-hover-background": #666,
	"date-hover-color": #fff,
	"font-map": 0,
	"head-background": #555,
	"head-border-color": #fff,
	"head-border-style": solid,
	"head-border-width": 0,
	"head-color": #fff,
	"week-background": #fff,
	"week-border": 0,
	"week-color": #222
);