/// Accordion-module, can either toggle (by using checkboxes in the HTML) or collapse (by using radio-buttons)
/// - Version 1.2.5
/// - Date last edited: 2016-04-07
/// @name accordion
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$accordion]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/blocks/accordion.html Demo
/// @example scss
///   .accordion ( @include accordion(); )

@mixin accordion($theme: $accordion) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));
	
	&-header {
		padding: 1.75% 0;
		font-weight: 300;
	} 
	&-label {
		position: relative;
		font-size: map-get($theme, "label-font-size");
		display: block;
		margin-top: -1px;
		padding: map-get($theme, "padding");
		color: map-get($theme, "label-color");
		border: 1px solid map-get($theme, "border-color");
		background: map-get($theme, "label-background");
		&-inner { /* Optional inner div-element */
			max-width: 90%;
		}
		&::after {
			@include absolute(top 50% map-get($theme, "toggle-position") 0.65em);
			transform: translateY(-50%);
			font-family: map-get($theme, "toggle-font-family"); 
			font-size: map-get($theme, "toggle-font-size"); 
			content: map-get($theme, "toggle-expand"); 
			color: currentColor;
		}
		@if map-get($theme, "toggle-position") == left {
			text-indent: 2em; 
			&::after { left: -0.5em; }
		}
	}
	&-panel {
		position: relative;
		overflow: hidden;
		transition: max-height 0.2s ease 0s;
		max-height: 0;
  		height: auto;
  		background: map-get($theme, "text-background");
  		&-text {
  			padding: map-get($theme, "padding");
			color: map-get($theme, "text-color");
			border: 1px solid map-get($theme, "border-color");
			border-top-color: transparent;
			
		}
	}
	
	$root-string: str-replace(unquote("#{$root}"), " .", ".");
	$root-class: str-split(unquote("#{$root}"), " .");
	
	@at-root {
		#{$root-string} .state:checked + #{$root-class}-label {
			&::after { content: map-get($theme, "toggle-contract"); }
			+ #{$root}-panel { 
				max-height: map-get($theme, "panel-max-height");
				transition-duration: 0.7s;
				& > #{$root}-panel-text {
					max-height: map-get($theme, "panel-max-height");
  					overflow: auto;
				}
			}
		}
	}
}

/// Theme-map for accordion-block
/// @name accordion-theme
/// @group settings

$accordion: (
	"border-color": #aaa,
	"font-map": 0,
	"label-background": linear-gradient(to bottom, #ddd, #eee),
	"label-color": #111,
	"label-font-size": 1.125em,
	"padding": 1em,
	"panel-max-height": 50em,
	"text-background": "#fff",
	"text-color": "#222",
	"toggle-contract": "\2212",
	"toggle-expand": "\002B",
	"toggle-font-family": "Roboto, sans-serif",
	"toggle-font-size": 2em,
	"toggle-position": right
);

$accordion-custom: (
	"border-color": darken(firebrick, 20),
	"font-map": 0,
	"label-background": darken(firebrick, 6),
	"label-color": #fff,
	"label-font-size": 1.125em,
	"padding": 1em,
	"panel-max-height": 150px,
	"text-background": linear-gradient(to right, #eee, #fff),
	"text-color": "#000",
	"toggle-contract": "\25BE",
	"toggle-expand": "\25B8",
	"toggle-font-family": inherit,
	"toggle-font-size": 2em,
	"toggle-position": left
);