/// sidepanel
/// - Version 1.0.0
/// - Date last edited: 2016-06-22
/// @name sidepanel
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$sidepanel]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/sidepanel/ Demo
/// @example scss
///   .sidepanel ( @include sidepanel(); )

@mixin sidepanel($theme: $sidepanel) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));
	
	@include fixed(top 0 left 100%);
	font-size: 0.875em;
	z-index: map-get($theme, "panel-z-index");
	display: block;
	overflow: hidden;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
	padding: map-get($theme, "panel-padding");
	transition: all .5s;
	color: map-get($theme, "panel-color");
	background: map-get($theme, "panel-background");
	
	& > &-toggle {
		left: 0;
		right: auto;
	}
	&-toggle {
		@include equal(0.8em);
		@include absolute(top 50% right 0);
		font-size: 4em;
		line-height: 0.6em;
		display: block;
		transform: translateY(-50%);
		text-align: center;
		color: map-get($theme, "toggle-color");
		background-color: map-get($theme, "toggle-background");
	}
	@at-root {
		.state:checked ~ #{$root} {
			left: 100% - map-get($theme, "width-phone");
			@include for("tablet") {
				left: 100% - map-get($theme, "width-tablet");
			}
		}
	}
}

/// Theme-map for sidepanel
/// @name sidepanel
/// @group settings

$sidepanel: (
	"font-map": 0,
	"panel-background": #444,
	"panel-color": #fff,
	"panel-padding": 1em,
	"panel-z-index": z("sidepanel"),
	"toggle-background": cornflowerblue,
	"toggle-color": #fff,
	"width-phone": 100%,
	"width-tablet": 40%
);