/// pricing
/// - Version 1.0.0
/// - Date last edited: 2016-06-07
/// @name pricing
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$pricing-theme]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/pricing/ Demo
/// @example scss
///   .pricing ( @include pricing(); )

@mixin pricing($theme: $pricing-theme) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));
	
	&-button {
		background: #aaa;
		color: #fff;
		border: 0;
		width: 85%;
		padding: 1em;
		font-size: 1.25em;
		margin: 1em;
		z-index: 2;
	}
	&-content {
		position: relative;
		display: block;
		float: left;
		width: 50%;
		//min-height: 40vh;
		background: linear-gradient(to bottom, #ddd 0%, #eee 100%);
		text-align: center;
		
		border-style: solid;
		border-color: #aaa;
		border-width: 1px 1px 1px 0;
		
		em {
			display: block;
			font-style: normal;
		}
		
		&-header {
			font-size: 2em;
			padding-top: 1em;
			color: #333;
			background: #E5E4E2;
		}	
		
		&-line {
			padding: .75em;
			border-bottom: 1px dashed #ccc;
			
			&:nth-child(even) {
				background-color: #fff;
				color: #111;
			}
			&:nth-child(odd) {
	   			background-color: #fff;
	   			color: #111;
	   		}
	   	}
	   	&-price {
	   		font-size: 0.5em;
	   		padding-bottom: 0.5em;
			
		}
		&-sub {
				
		}
	}
	
	&-header {
		font-size: 2em;
		margin: 0 0 1em 0;
	}
	
	&-icon {
		@include equal(2em);
		margin: 0 0.5em 0 0;
		vertical-align: middle;
	}
	&-label {
		
	}
	&-label:first-of-type > span  { 
		border-left-width: 1px;
	}
	&-sub {
		
	}
	&-tactical {
		@include absolute(top -0.65em left 30px);
		width: 75%;
		//& + .pricing-content-header {padding-top: 1.25em; }
		text { 
			font-family: "Oswald", sans-serif; 
			font-size: 2.5em; 
		}
	}
	.state:checked + &-label {
		
		& > #{$root}-content {
			background: linear-gradient(to bottom, #eee 0%, #fff 100%);
			z-index: 1;
			#{$root}-content-header {
				color: #fff;
				background: #df0011;
			}
			#{$root}-button {
				background: #df0011;
			}
			
		}
	}
	
	@include for("tablet") {
		&-content {
			width: 25%;
		}
		.state:checked + &-label {
			& > #{$root}-content {
				transition: all .5s;
				transform: scale(1.05);
				box-shadow: 0 0 .25em rgba(0, 0, 0, .5);
			}
		}
	}
}

/// Theme-map for pricing
/// @name pricing-theme
/// @group settings

$pricing-theme: (
	"font-map": 0,
	"num-items": 4
);