/// CSS-driven switch-control
/// - Version 1.2.0
/// - Date last edited: 2016-04-06
/// @name switch
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$switch-theme] - The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/switch/ Demo
/// @example scss
///   .switch( @include switch(); )

@mixin switch($theme: $switch-theme) {
	& + label {
		display: inline-block;
		position: relative;
		@include font-sizes(map-get($theme, "font-map"));
				
		&::before {
			content: "";
			display: inline-block;
		 	width: map-get($theme, "width");
	  		height: (map-get($theme, "width") / 2);
			border-radius: (map-get($theme, "width") / 4);
			background: map-get($theme, "background");
			border: map-get($theme, "border-width") solid map-get($theme, "border-color");
			margin: 0 1em 0 0;
			vertical-align: middle;
		}
		&::after {
			display: inline-block;
			position: absolute;
			top: map-get($theme, "border-width");
			left: 0;
			width: ((map-get($theme, "width") / 2) - (map-get($theme, "border-width") * 2));
			height: ((map-get($theme, "width") / 2) - (map-get($theme, "border-width") * 2));
			content: "";
			background: map-get($theme, "background");
			border-radius: 50%;
			border: map-get($theme, "border-width") solid map-get($theme, "border-color");
			box-shadow: map-get($theme, "box-shadow");
			transition: all .3s ease-in-out;
		}
  	}
  	&:checked + label {
  		&::before {
  			background-color: map-get($theme, "background-selected");
  		}
  		&::after {
  			left: map-get($theme, "width");
  			border-color: map-get($theme, "border-color-selected");
  			box-shadow: -1px 1px 1px rgba(0, 0, 0, .2);
  			transform: translateX(-100%);
    	}
  	}
}

/// Theme-map for switch-block
/// @name switch-theme
/// @group settings

$switch-theme: (
	"background": #fff,
	"background-selected": #1e90ff,
	"border-color": #ccc,
	"border-color-selected": #1e90ff,
	"border-width": 1px,
	"box-shadow": 1px 1px 1px rgba(0, 0, 0, .2),
	"font-map": ("phone": 1rem),
	"width": 80px
);