/// event
/// - Version 1.0.0
/// - Date last edited: 2016-06-07
/// @name event
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$event-theme]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/event/ Demo
/// @example scss
///   .event ( @include event(); )

@mixin event($theme: $event-theme) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));
	
	background: map-get($theme, "background");
	padding: map-get($theme, "padding");
	border-radius:  map-get($theme, "border-radius");
	box-shadow: map-get($theme, "box-shadow");
	
	&-date {
		&-icon {
			@include equal(1em);
			fill: map-get($theme, "date-icon-fill");
		}
	}
	&-description {
		font-style: italic;	
	}
	&-header {
		font-size: 2em;	
	}
	&-image {
		width: map-get($theme, "image-width");
		height: map-get($theme, "image-height");
	}
	&-offer {
		&-price {
			color: map-get($theme, "offer-color");
		}
		&-url {
			color: map-get($theme, "url-color");
		}
	}
	&-performers {
		margin: 0 0 1em 0;
		list-style-position: inside; 
	}
	&-subheader {
		display: block;
		margin: 1em 0 0 0;	
		font-size: 1.15em;
	}
	&-time {
		color: map-get($theme, "offer-color");
	}
	&-url {
		display: inline-block;
		color: map-get($theme, "url-color");
	}
	&-venue {
		&-address {}	
		&-name {}
	}
}

/// Theme-map for event
/// @name event-theme
/// @group settings

$event-theme: (
	"background": linear-gradient(to bottom, #eee, #fff),
	"border-radius": 0.25em,
	"box-shadow": 0 0 .5em rgba(0, 0, 0, .5),
	"date-icon-fill": #666,
	"font-map": 0,
	"image-height": auto,
	"image-width": 100px,
	"offer-color": maroon,
	"padding": 1.5em,
	"url-color": darken(cornflowerblue, 20)
);