/// Sitemap
/// - Version 1.2.0
/// - Date last edited: 2016-07-04
/// @name sitemap
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$sitemap-theme]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/sitemap/ Demo
/// @example scss
///   .sitemap( @include sitemap(); )

@mixin sitemap($theme: $sitemap-theme) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));
	
	font-size: 0.875em;
	padding: map-get($theme, "padding");
	color: map-get($theme, "color");		
	background: map-get($theme, "background");
	
	&__divider {
		width: 100%;
		height: 1px;
		margin: 1em 0;
		background: map-get($theme, "divider-background");
	}
	&__header {
		clear: both;
	}
	&__link {
		font-weight: 500;
		color: map-get($theme, "link-color");
	}
	&__nav {
		margin: 0 0 1em 0;
		padding: map-get($theme, "nav-padding");
		background: map-get($theme, "nav-background");
		
		&__header {
			display: block;
			color: map-get($theme, "nav-header-color");
		}
		&__link {
			display: block;
			text-decoration: none;
			& + #{$root}__nav__header {
				padding-top: 1em;
			}
		}
	}
	
	&__textblock {
		color: map-get($theme, "textblock-color");
	}
	
	@include for("phablet") {
		&__nav { 
			float: left; 
			width: 50%; 
		}
	}
	
	@include for("tablet") {
		&__inner {
			display: flex;
			flex-flow: row nowrap;
		}
		&__nav {
			flex: 1;
		}		
	}
}

/// Theme-map for sitemap-block
/// @name sitemap-theme
/// @group settings

$sitemap-theme: (
	"background": #f2f2f2,
	"color": #666,
	"divider-background": #e3e3e3,
	"link-color": darken(#0088cc, 10),
	"nav-background": transparent,
	"nav-header-color": #333,
	"nav-padding": 0 1em 0 0,
	"padding": 1.5em,
	"textblock-color": #666
);