/// Foldout
/// - Version 1.2.7
/// - Date last edited: 2016-06-28
/// @name foldout
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$foldout-theme]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/foldout/ Demo
/// @example scss
///   .foldout ( @include foldout(); )

@mixin foldout($theme: $foldout-theme) {
	$root: &;
	@include font-sizes(map-get($theme, "font-map"));

	&.use-target {
		#{$root}-block:target {
			max-height: 100em;
	    	margin-bottom: map-get($theme, "gutter");
	    	transition-duration: 0.7s;
	    	#{$root}-block-close, 
	    	#{$root}-block-video {
	    		visibility: visible;
	    	}	
		}
	}
	&-block {
	    overflow: hidden;
	    width: 100%;
	    max-height: 0;
	    margin: 0;
	    transition: max-height 0.2s ease 0s;

	    &-target {
	    	max-height: 100em;
	    	margin-bottom: map-get($theme, "gutter");
	    	transition-duration: 0.7s;
	    	#{$root}-block-close, 
	    	#{$root}-block-video {
	    		visibility: visible;
	    	}
	    }
	    [itemprop="publisher"] {
	    	display: none;
	    }
	    &-close {
	    	display: inline-block;
	    	visibility: hidden;
	    	float: right;
	    }
	    &-content {}
	    &-header {
	    	font-size: 3em;	
	    }
	    &-image {
	    	width: 100%;
	    	&-wrapper {
	    		margin: 0 0 map-get($theme, "gutter") 0;
	    	}
	    }
	    &-video {
	    	visibility: hidden;
	    	width: 100%;
	    	min-height: map-get($theme, "video-min-height");
	    	margin: map-get($theme, "gutter") 0 0 0;
	    	border: 0;
	    }
	    
	    /* Sample styles for 2-column layout */
	    .two-columns { 
			text-align: justify;
			column-count: 2;
			column-gap: 3em;
			column-rule: 1px dotted #4a4a4a;	
			h1, h2, h3, h4 {
				margin: 1em 0 .5em 0;
			}
			p {
				-webkit-column-break-inside: avoid;
				-moz-column-break-inside: avoid;
				column-break-inside: avoid;
			}
			p:last-child::after {
    			font-size: 150%;
    			display: block;
    			text-align: right;
			    content: "\25A3";
			    color: inherit;
			}
			@include max("phablet") { column-count: 1; }
		}
	}
	&-teaser {
		height: 100%;
		padding: map-get($theme, "teaser-padding");
		background: map-get($theme, "teaser-background");
		
		/* Hack for Safari :-( */
		@include targetSafari { flex: 1; }
		
		&-header {}
		&-link {}
		&-text {}
		&-wrapper {
			flex: 1;
			display: flex;
			flex-direction: column;
			padding: map-get($theme, "gutter") 0 map-get($theme, "gutter") 0;
		}
	}
	@include for("tablet") {
		display: flex;
		margin-top: -(map-get($theme, "gutter"));
		margin-left: -(map-get($theme, "gutter"));
		margin-bottom: 0;
		margin-right: 0;
		flex-flow: row wrap;
		&-block {
			margin: 0 0 0 map-get($theme, "gutter");
		}
		&-teaser {
			&-wrapper {
				padding: map-get($theme, "gutter") 0 map-get($theme, "gutter") map-get($theme, "gutter");
			}
		}
	}
}

/// Theme-map for foldout-block
/// @name foldout-theme
/// @group settings

$foldout-theme: (
	"font-map": 0,
	"gutter": 1em,
	"teaser-background": lightgrey,
	"teaser-padding": 1em,
	"video-min-height": 20em
);