/// Breadcrumb-module
/// - Version 1.2.6
/// - Date last edited: 2016-08-02
/// @name breadcrumb
/// @group blocks
/// @author Mads Stoumann
/// @param {String} $theme [$breadcrumb-theme]- The theme-map to use
/// @output class-module
/// @link http://www.stoumann.dk/examples/blocks/breadcrumb/ Demo
/// @example scss
///   .breadcrumb( @include breadcrumb(); )

@mixin breadcrumb($theme: $breadcrumb-theme) {
	@include font-sizes(map-get($theme, "font-map"));
	
	max-width: 100%;
	border-width: map-get($theme, "border-width");
	border-style: map-get($theme, "border-style");
	border-color: map-get($theme, "border-color");
	background: map-get($theme, "background");
	
	&__inner {
		overflow: hidden;
		margin: 0;
		padding: 0.75em 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		& > [itemProp="itemListElement"]:first-of-type a { 
			padding-left: 1em;
			&::before {
				display: none;
			}
		}
	}
	a {
		font-weight: map-get($theme, "divider");
		text-decoration: none;
		&::before {
			padding: 0 0.5em;
			content: map-get($theme, "divider");
		}
		@include hover {
			color: map-get($theme, "hover-color");
			&::before { 
				color: map-get($theme, "color");
			}
		}
	}
}

/// Theme-map for breadcrumb
/// @name breadcrumb-theme
/// @group settings

$breadcrumb-theme: (
	"background" : linear-gradient(to bottom, #f0f0f0, #fff),
	"border-color": #ccc,
	"border-style": solid,
	"border-width":  1px 0,
	"color": #222,
	"divider" : "|",
	"font-map": ("phone" : 12px, "tablet" : 15px),
	"font-weight": 400,
	"hover-color": firebrick
);